apiVersion: apps/v1
kind: Deployment
metadata:
  name: 01-secret-reader
spec:
  selector:
    matchLabels:
      example: "01"
  template:
    metadata:
      labels:
        example: "01"
    spec:
      containers:
        - name: secret-reader
          image: alpine
          command:
            - sh
            - -c  
            - |
              echo "Starting";
              echo "----------"

              echo "PASSWORD: ${PASSWORD}";
              echo "----------"
              
              sleep infinity;
          resources:
            requests:
              memory: 50Mi
              cpu: 50m
            limits:
              memory: 50Mi
              cpu: 50m
          envFrom:
            - secretRef:
                name: secret1
            - secretRef:
                name: secret2 # Note that secret2 is referenced last